# ─── Server ───────────────────────────────────────────
PORT=3000
NODE_ENV=development

# ─── MongoDB ──────────────────────────────────────────
MONGODB_URI=mongodb+srv://davykennang552_db_user:pYVUymuR2UajbRWX@agrolink.skguaek.mongodb.net/?appName=Agrolink

# ─── Redis ────────────────────────────────────────────
REDIS_URL=redis://localhost:6379

# ─── Meta WhatsApp Cloud API ──────────────────────────
META_PHONE_NUMBER_ID=your_phone_number_id
META_ACCESS_TOKEN=your_permanent_access_token
META_VERIFY_TOKEN=agro_link_webhook_secret
META_API_VERSION=v19.0
